{% extends 'main/layout.html' %}
{% load static %}


{% block title %}Карьера {% endblock %}
{% block links %} 
<link rel="stylesheet" href="{% static 'career/css/career.css' %}">
{% endblock %}

{% block content %}
    <div id="career-detail" class="features">
        <h1>Карьера</h1>
        <div id="content-img" > 
            <img src="{% static 'career/img/aucion.jpg' %}" alt="Лого">
        </div>
        <div class="content-text">
            <p>Птицефабрика Уральская – это современное и динамично развивающееся предприятие по производству мяса и яиц
            кур, уток и индеек. Наша компания находится в Западно-Казахстанской области и обслуживает потребности 
            рынка с 2003 года. </p>
            <p>Мы гордимся качеством нашей продукции, которая соответствует всем санитарным и 
            ветеринарным нормам и стандартам. Наша птица выращивается на натуральных кормах без антибиотиков и 
            гормонов. Наша продукция сертифицирована и имеет высокий спрос среди потребителей.
            </p>
            <p>В связи с расширением производства мы приглашаем к сотрудничеству специалистов по следующим 
                направлениям:</p>
            <ul>
                <li>Ветеринарный врач; </li>
                <li>Зоотехник; </li>
                <li>Оператор по переработке мяса птицы; </li>
                <li>Работник по уходу за птицей; </li>
                <li>Водитель; </li>
                <li>Кладовщик; </li>
                <li>Продавец. </li>
            </ul>
            <p>Мы предлагаем:</p>
            <ul>
                <li>Стабильную заработную плату;</li>
                <li>Социальный пакет;</li>
                <li>Корпоративное обучение и повышение квалификации;</li>
                <li>Карьерный рост;</li>
                <li>Дружный коллектив.</li>
            </ul>
            <p>Мы требуем:</p>
            <ul>
                <li>Ответственность и дисциплинированность; </li>
                <li>Опыт работы по специальности или желание обучаться; </li>
                <li>Соблюдение техники безопасности и санитарных норм; </li>
                <li>Любовь к животным. </li>
            </ul>
            <p>Если вы хотите стать частью нашей команды, отправьте свое резюме на электронную почту <span style="color: #088C37;">too_upf@inbox.ru</span> или позвоните по телефону 8 (112) 51-99-88. Мы ждем вас!</p>
            <p>Птицефабрика «Уральская» – это ваш надежный поставщик свежего и вкусного мяса и яиц птицы!</p>
        </div>
    </div>
{% endblock %}

{% block JavaScript %}
{% endblock %}